<div class="navbar">
  <h5><i class="fas fa-cocktail"></i> The Cocktail Guide</h5>
</div>


<div class="banner">
    <h1>The Cocktail Guide</h1>
</div>


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-img">
        </div>
        <div class="card-body">
          <h5><%= cocktail.name %></h5>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
          <%= link_to 'More', cocktail_path(cocktail) %>
        </div>
      </div>
    </div>

    <% end %>
  </div>

  <br>
  <br>
  <%= link_to 'Add a Cocktail', new_cocktail_path, class: 'btn btn-primary rounded' %>
</div>
